.commentator-container {
  width: 300px;
  margin: 50px 0;
  max-height: 600px;
  flex-direction: column;
}
.comment-text {
  width: 300px;
  min-height: 400px;
  padding: 20px 15px 70px 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-overflow: ellipsis;
}
