.rooms-lobby {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin: 20px 0;
}

#rooms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#add-room-btn, #quit-room-btn, #ready-btn {
  padding: 20px;
  font-size: 20px;
  background-color:darkgray;
  width: 300px;
}

.room-block {
  width: 300px;
  height: 400px;
  background-color: darkkhaki;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.usersNum {
  margin: 20px;
  font-size: 20px;
  color: green;
}

.room-name {
font-weight: bold;
}

.join-btn {
  padding: 30px;
  background-color: darkgray;
  width: 150px;
  margin: 50px;
}

.room-info {
  display: flex;
  flex-direction: column;
}

.ready-status-red {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.ready-status-green {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.progress-line {
  width: 300px;
  height: 20px;
  border: 1px solid black;
}

.user-progress {
  height: 100%;
  background-color: chocolate;
}

.game-screen {
  position: relative;
  width: 600px;
  height: 600px;
  border: 3px solid black;
  margin: 50px;
}

#timer {
  display: none;
  font-size: 100px;
}

#text-container {
  display: inline-block;
  font-size: 24px;
  white-space: pre;
}

#text-container::first-letter {
  text-decoration: underline;
}

.game-timer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

#new_text {
  background-color: lightgreen;
  font-size: 24px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: cornsilk;
  padding: 200px;
}